.footer__text{
  font-family: "Inter", "Arial", sans-serif; 
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media (max-width: 900px){
  .footer__text{
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 0;
    margin-bottom: 0;
  } 
}  