.profile__title{
  color: #FFFFFF;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  width: 298px;
  margin-top: 58px;
  margin-bottom: 0;
  padding-bottom: 0;
}

@media (max-width: 900px){
  .profile__title{
    font-size: 27px;
    width: 201px;
    margin-top: 0;
    margin: auto;
    margin-left: 80px;
  }
}