.element__like{
    height: 18.13px;
    width: 20.76px;
    cursor: pointer;
    margin-top: 28px;
    background-image: url(../../../images/like.svg);
    margin-right: 22px;
    border: none;
    background-color: transparent;
    outline: none;
}

.element__like:hover{
    opacity: 0.5;
}