@import url('__button/popup__button.css');
@import url('__close/popup__close.css');
@import url('__container/popup__container.css');
@import url('__input/popup__input.css');
@import url('__title/popup__title.css');
@import url('__zoomed/popup__zoomed.css');
@import url('__close-zoom/popup__close-zoom.css');
@import url('__image/popup__image.css');
@import url('__caption/popup__caption.css');
@import url('__title/_margins/popup__title_margins.css');
@import url('_opacity/popup_opacity.css');
@import url('_opacity-normal/popup_opacity-normal.css');
@import url('__input/_type/popup__input_type_error.css');
@import url('__input-error/popup__input-error.css');
@import url('__input-error/_active/popup__input-error_active.css');
@import url('__button/_inactive/popup__button_inactive.css');
@import url('__confirm/popup__confirm.css');
@import url('__avatar/popup__avatar.css');
@import url('__container/_avatar/popup__container_avatar.css');
@import url('__container/_delete/popup__container_delete.css');

.popup{
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  visibility: hidden;
  z-index: -10;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

